<main>
  <div class="cadastro-box">
    <p>Registre informações dos motoristas responsáveis!</p>
    <button (click)="openRegisterDialog('Condutor')"  >Cadastrar Condutor</button>
  </div>
    <mat-divider></mat-divider>

  <div class="cadastro-box">
    <p>Adicione novos veículos à frota</p>
    <button (click)="openRegisterDialog('Veículo')">Cadastrar Veículo</button>
  </div>
    <mat-divider></mat-divider>

  <div class="cadastro-box">
    <p>Adicione os diferentes tipos de combustível disponíveis para abastecimento.</p>
    <button (click)="openRegisterDialog('Combustível')" >Cadastrar Combustível</button>
  </div>
</main>
